.wrapper
 
 .side
  .side__header
   .side__header_box TAKAHASHI
   .side__header_box_menu_new-group=fa_icon 'picture-o'
   .side__header_box_menu_edit-user=fa_icon 'edit'

   .side__group
    .side__group_box
     .side__group_box-name たかはし
     .side__group_box-text お腹空いた…

     .side__group_box
     .side__group_box-name 今井
     .side__group_box-text 最近朝礼来ない

 .main
  .main__header
   .main__header_edit-btn Edit
   .main__header_left_box
    .main__header_left_box-group グループ名
    .main__header_left_box-member Memer:TAKAHASHI
    .main__header_left_box-member-list

 .message
  .message__user
   .message__user_info
    .message__user_info-name たかはし
    .message__user_info-data 2019-10-08
   .message__user_info-text お腹空いた…

   .message__user
   .message__user_info
    .message__user_info-name 今井
    .message__user_info-data 2019-10-08
   .message__user_info-text 最近朝礼来ない

 .footer
  .footer__comment
   .footer__comment_box 
    .footer__comment_box-input 入力してください
    .footer__comment_box-image=fa_icon 'picture-o'
   .footer__comment_submit-btn Send